body {
    margin: 0px;
    height: 100vh;
    background-color: rgb(25, 31, 36);
}

.projectsContainer {
    background: rgb(25, 31, 36);
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain; 
}

.projectsFlow {
    height: 100%;
    width: 900px;
    margin-bottom: 220px;
    /* background-color: rgb(80, 80, 80); */
}

.projectsLogo {
    color: white;
    /* text-decoration: underline; */
    font-weight: 10;
    font-size: 60px;
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    animation: fadein 1.5s
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

.projectsLogo:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(154, 154, 154);
    margin: auto;
}

.entryBox {
    width: 100%;
    height: 450px;
    background-color: rgb(39, 45, 50);
    color: white;
    margin-top: 50px;
    padding: 15px; /* Centers height-wise */
    border-radius: 13px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-8%);
    }
    100% {
      transform: translateX(0);
    }
}

.entryContent {
    width: 95%;
    height: 100%;
    margin: auto; /* Centers width-wise */
    display: grid;
    grid-template-columns: 15fr 16fr;
}

.entryTitle {
    margin-top: 10px;
}



.entryTitle {
    display: inline;
    font-size: 43px;
    font-weight: 10;
    
}

.entryTitle > a {
    color: white;
    text-decoration: none;
    transition-property: all;
    transition-duration: 400ms;
}

.cplusplus {
    display: inline;
    font-size: 28px;
    font-weight: 10;
    text-decoration: none;
    color: white;
    transition-property: all;
    transition-duration: 400ms;
}

.entryTitle > a:hover {
    color: #6568F4;
    transition: all 0.2s ease-out;
}

.entryTitle > p {
    display: inline;
    font-size: 20px;
    color: #6568F4;
}

.projectImg {
    width: 100%;
    border-radius: 9px;
    position: relative;
    top: 10px;
    transition-property: all;
    transition-duration: 530ms;
}

.projectImg:hover {
    opacity: 0.3;
    transition: all 0.3s ease-out;
}

.description {
    padding: 30px;
    margin-top: 3px;
}

.chefmedia {
    font-size: 24px;
    
}

.cplusplusDesc {
    padding: 0;
    margin-left: 29px;
    margin-top: 50px;
    font-size: 24px;
}

.benqueryDesc {
    margin-top: 0px;
    margin-left: 20px;
    padding: 10px;
    font-size: 24px;
}

@media screen and (max-width: 960px) {

    .projectsFlow {
        width: 70%;
    }

    .projectsLogo {
        margin-left: 0px;
        font-size: 49px;
    }


    .profileBox {
        margin-top: 50px;
        margin-bottom: 30px;
        width: 350px;
        height: 630px;
    }

    .listBox2 {
        margin-top: 20px;
        width: 350px;
        height: auto;
        padding: 10px;
    }

    .listContent {
        margin-bottom: 0px;
        width: 100%;
    }

    .listParagraph {
        grid-template-columns: 45px 10fr;
        padding: 8px;
    }

}