.resumeContainer {
    background: rgb(25, 31, 36);
    width: 100%;
    height: 270vh;
    object-fit: cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain; 
}

.resumeFlow {
    height: 100%;
    width: 900px;
    margin-top: 90px;
    /* background-color: rgb(80, 80, 80); */
}

.sectionLogo {
    color: white;
    font-weight: 10;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.B {
    margin-top: 170px;
}

.C {
    margin-top: 170px;
}

.A:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(154, 154, 154);
    margin: auto;
}

.B:before {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(154, 154, 154);
    margin: auto;
}

.C:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(154, 154, 154);
    margin: auto;
}

.resumeSection {
    /* background-color: rgb( 60, 60, 60); */
    width: 95%;
    height: 145px;
    margin-top: 60px;
    border-radius: 7px;
    display: grid;
}

.skills {
    grid-template-columns: 4fr 0.5fr 6fr;
    transition-property: all;
    transition-duration: 400ms;
}

.education {
    grid-template-columns: 4fr 0.5fr 4fr;
    height: 200px;
    text-align: center;
    align-content: center;
}

.resumeSection:hover {
    background-color: rgb(38, 40, 48);
    margin-left: 20px;
    
}

.skillsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    font-weight: 10;
}

.vertLine {
    margin-top: 20px;
    border-left: 1px solid white;
    height: 70%;
}

.skillsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

.skillsItem {
    display: table-row;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    
}

.javaLogo {
    width: 58px;
    height: 75px;
}

.javascriptLogo {
    margin-top: 5px;
    width: 68px;
    height: 68px;
}

.javascriptDesc {
    margin-top: 3px;
}

.cplusplusLogo {
    width: 69px;
    height: 75px;
}

.reactLogo {
    margin-top: 10px;
    width: 73px;
    height: 63px;
}

.reactDesc {
    margin-top: 3px;
}

.tailwindLogo {
    width: 68px;
    height: 75px;
}

.logoDescription {
    color: white;
    font-size: 18px;
}

.techList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

.techItem {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.techDescription {
    color: white;
    font-size: 28px;
}

.educationLink {
    text-decoration: none;
}

.educationSection {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.educationBlock {
    background-color: rgb(38, 40, 48);
    border-radius: 10px;
    height: 300px;
    text-align: center;
    position: relative;
    top: 10px;
    transition: all 0.25s ease-out;
}

.educationBlock:hover {
    border-radius: 2rem;
    top: -20px;
}

.blockContent {
    padding: 30px;
}

.educationHeader {
    color: white;
    font-size: 35px;
    font-weight: 100;
    transition-property: all;
    transition-duration: 400ms;
}

.educationDescription {
    margin-top: 5px;
    font-size: 22px;
    color: rgb(167, 167, 167);
}

.educationSchool{
    color: white;
    font-size: 30px;
    font-weight: 100;

}

.major {
    margin-top: 50px;
}

.minor {
    margin-top: 85px;
}

.workSection {
    margin-top: 80px;
}

.workContent {
    margin-left: 20px;
    /* background-color: rgb(46, 46, 46); */
    width: 90%;
    height: 500px;
}

.workHeader {
    font-size: 36px;
    font-weight: 10;
    padding: 5px;
}

.title {
    color: white;
}

.murphy {
    color: #6568F4;
    transition: all 0.25s ease-out;
    text-decoration: none;
}

.murphy:hover {
    color: rgb(50, 53, 212);
    margin-left: 10px;
}

.murphyDate  {
    margin-top: 3px;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(126, 126, 126);
}

.listBox {
    background-color: rgb(38, 40, 48);
    border-radius: 10px;
    width: 63%;
    height: 360px;
    margin-left: 10%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listContent {
    /* background-color: rgb(91, 91, 91); */
    width: 90%;
    height: 85%;
}

.murphyListItem {
    display: grid;
    grid-template-columns: 45px 10fr;
    padding: 10px;
    /* color: rgb(93, 158, 236); */
}

.fa-angle-double-right {
    margin-top: 23px;
    color: #6568F4;
}

.murphyDescription {
    position: relative;
    font-size: 22px;
    color: white;
    list-style: none;
}





@media screen and (max-width: 960px) {

    .resumeContainer {
        height: 340vh;
    }

    .resumeFlow {
        width: 440px;
    }

    .resumeSection {
        width: 100%;
        height: 250px;
        position: relative;
        top: 70px;
        display: table-row;
        grid-template-rows: 4fr 0.5fr 6fr;
        border-radius: 7px;
    }

    .resumeSection:hover {
        background: none;
        
    }

    .educationSection {
        display: table-row;
        grid-template-columns: 1fr 1fr;
    }

    .educationBlock{
        margin-top: 30px;
    }
   

    .listBox {
        width: 440px;
        height: 400px;
        margin-left: -20px;
    }

}