.footerContainer {
    background: black;
    height: 280px;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}

.footerLogo {
    position: absolute;
    left: 35px;
    margin-top: 70px;
    
    color: white;
    cursor: pointer;
    /* margin-left: 20px; */
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
}

.footerCenter {
    color: white;
    padding: 30px;
    
}

.contact {
    text-decoration: underline; 
    padding: 10px;
}

.email {
    position: relative;
    top: 20px;
    color: white;
}

.credits {
    position: relative;
    top: 125px;
}